*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.xml 
!activity_main.xml
*.gradle
*.pro
*.png
*.java
!MainActivity.java
*.jar
*.bat
*.properties
gradlew
*.name
*.ser
!/*/app/src/main/java/kr/co/company/*/*
*.gitignore
