*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
TextViewTest/.idea/compiler.xml
TextViewTest/.idea/gradle.xml
TextViewTest/.idea/jarRepositories.xml
TextViewTest/.idea/misc.xml
TextViewTest/app/build.gradle
TextViewTest/app/proguard-rules.pro
TextViewTest/app/src/main/AndroidManifest.xml
TextViewTest/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
TextViewTest/app/src/main/res/drawable/ic_launcher_background.xml
TextViewTest/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
TextViewTest/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
TextViewTest/app/src/main/res/mipmap-hdpi/ic_launcher.png
TextViewTest/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
TextViewTest/app/src/main/res/mipmap-mdpi/ic_launcher.png
TextViewTest/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
TextViewTest/app/src/main/res/mipmap-xhdpi/ic_launcher.png
TextViewTest/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
TextViewTest/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
TextViewTest/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
TextViewTest/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
TextViewTest/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
TextViewTest/app/src/main/res/values-night/themes.xml
TextViewTest/app/src/main/res/values/colors.xml
TextViewTest/app/src/main/res/values/strings.xml
TextViewTest/app/src/main/res/values/themes.xml
TextViewTest/build.gradle
TextViewTest/gradle.properties
TextViewTest/gradle/wrapper/gradle-wrapper.jar
TextViewTest/gradle/wrapper/gradle-wrapper.properties
TextViewTest/gradlew
TextViewTest/gradlew.bat
TextViewTest/settings.gradle
TextViewTest/app/src/androidTest/java/kr/co/company/textviewtest/ExampleInstrumentedTest.java
TextViewTest/app/src/test/java/kr/co/company/textviewtest/ExampleUnitTest.java
UserInterface1/.idea/.name
UserInterface1/.idea/caches/build_file_checksums.ser
UserInterface1/.idea/compiler.xml
UserInterface1/.idea/gradle.xml
UserInterface1/.idea/jarRepositories.xml
UserInterface1/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0.xml
UserInterface1/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
UserInterface1/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
UserInterface1/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_4_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_4.xml
UserInterface1/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_core_core_1_3_1_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0.xml
UserInterface1/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_test_core_1_3_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_3_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_3_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_2_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_test_monitor_1_3_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_test_runner_1_3_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
UserInterface1/.idea/libraries/Gradle__com_google_android_material_material_1_2_1_aar.xml
UserInterface1/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1.xml
UserInterface1/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
UserInterface1/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
UserInterface1/.idea/libraries/Gradle__junit_junit_4_12.xml
UserInterface1/.idea/libraries/Gradle__junit_junit_4_13_1.xml
UserInterface1/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
UserInterface1/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
UserInterface1/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
UserInterface1/.idea/misc.xml
UserInterface1/.idea/modules.xml
UserInterface1/.idea/vcs.xml
UserInterface1/app/build.gradle
UserInterface1/app/proguard-rules.pro
UserInterface1/app/src/androidTest/java/kr/co/company/userinterface1/ExampleInstrumentedTest.java
UserInterface1/app/src/main/AndroidManifest.xml
UserInterface1/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
UserInterface1/app/src/main/res/drawable/ic_launcher_background.xml
UserInterface1/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
UserInterface1/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
UserInterface1/app/src/main/res/mipmap-hdpi/ic_launcher.png
UserInterface1/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
UserInterface1/app/src/main/res/mipmap-mdpi/ic_launcher.png
UserInterface1/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
UserInterface1/app/src/main/res/mipmap-xhdpi/ic_launcher.png
UserInterface1/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
UserInterface1/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
UserInterface1/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
UserInterface1/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
UserInterface1/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
UserInterface1/app/src/main/res/values-night/themes.xml
UserInterface1/app/src/main/res/values/colors.xml
UserInterface1/app/src/main/res/values/strings.xml
UserInterface1/app/src/main/res/values/themes.xml
UserInterface1/app/src/test/java/kr/co/company/userinterface1/ExampleUnitTest.java
UserInterface1/build.gradle
UserInterface1/gradle.properties
UserInterface1/gradle/wrapper/gradle-wrapper.jar
UserInterface1/gradle/wrapper/gradle-wrapper.properties
UserInterface1/gradlew
UserInterface1/gradlew.bat
UserInterface1/settings.gradle
