*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
TextViewTest/.idea/compiler.xml
TextViewTest/.idea/gradle.xml
TextViewTest/.idea/jarRepositories.xml
TextViewTest/.idea/misc.xml
TextViewTest/app/build.gradle
TextViewTest/app/proguard-rules.pro
TextViewTest/app/src/main/AndroidManifest.xml
TextViewTest/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
TextViewTest/app/src/main/res/drawable/ic_launcher_background.xml
TextViewTest/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
TextViewTest/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
TextViewTest/app/src/main/res/mipmap-hdpi/ic_launcher.png
TextViewTest/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
TextViewTest/app/src/main/res/mipmap-mdpi/ic_launcher.png
TextViewTest/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
TextViewTest/app/src/main/res/mipmap-xhdpi/ic_launcher.png
TextViewTest/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
TextViewTest/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
TextViewTest/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
TextViewTest/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
TextViewTest/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
TextViewTest/app/src/main/res/values-night/themes.xml
TextViewTest/app/src/main/res/values/colors.xml
TextViewTest/app/src/main/res/values/strings.xml
TextViewTest/app/src/main/res/values/themes.xml
TextViewTest/build.gradle
TextViewTest/gradle.properties
TextViewTest/gradle/wrapper/gradle-wrapper.jar
TextViewTest/gradle/wrapper/gradle-wrapper.properties
TextViewTest/gradlew
TextViewTest/gradlew.bat
TextViewTest/settings.gradle
TextViewTest/app/src/androidTest/java/kr/co/company/textviewtest/ExampleInstrumentedTest.java
TextViewTest/app/src/test/java/kr/co/company/textviewtest/ExampleUnitTest.java
